nav {
    display: flex;
    color: indigo;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-weight: 800;
    line-height: normal;

}
.text-primary{
    color: #FD6E0A;
} 
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
.btn-primary{
    color: var(--white-color, #FFF);
    /* font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal; */
    background: #FD6E0A;
    border: none;
    margin-top: 10px;
}
.btn-secondary{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: #FFF8F3;
    text-decoration-color: #FD6E0A;
}
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}
.banner-greetngs{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}
.banner-title{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
}
.banner-content{
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 166.667%;
    margin-bottom: 25px;
    max-width: 400px;
    max-height: 30px;
}
.banner .profile-pic{
    /* width: 584px;
    height: 676px;
    flex-shrink: 0; */
}
.developer{
    background: #FFF8F3;
    
    /* padding: 38px 1200px 30px 25px; */
}

/* styles for ABOUT section */
.about{
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}
.sec-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    /* padding: 131px 486px 371px 485px; */
}
.sec-content{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    /* padding: 209px 157px 221px 156px; */
}
.about-info-container{
    display: flex;
    margin-top: 30px 50px;
    text-align: center;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.section-description {
    text-align: center;
    justify-content: space-around;
}
main section {
    margin-top: 130px;
}

.skill{
    
}
.skill-container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px auto;
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px;
}
/* resume section styles*/
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    }
.resume-container {
    display: flex;
    gap: 50px;
    margin: 30px;
}
.resume-item-description, .resume-item-institution {
    color: #757575;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;}
.resume-item-institution{
    margin-top: 20px;
    margin-bottom: 0px;
}    
.download-cv {
    text-align: center;
    margin-top: 50px;
}